@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://img.freepik.com/vetores-gratis/borda-de-girassol-em-aquarela_23-2149259683.jpg?w=2000');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
    position: relative;
    min-height: 100vh;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;



}

.cabecalho-image {
    height: 72px;
    margin-right: 700px;



}

.cabecalho-menu {
    display: flex;
    gap: 32px;
    cursor: pointer;


}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #ffdfdf;
    font-weight: 400;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    padding: 1px 20px;
    background-color: #4d4143;
    cursor: pointer;
    perspective: 1000px;
}

.cabecalho-menu-item:hover {
    background-color: rgb(233, 233, 62);
    transform: rotateY('10deg');
    color: #777071;
}

.conteudo {
    border-top: #777071 solid 0.4px;
    margin-bottom: 48px;
    justify-content: space-around;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 56px;
    color: rgb(233, 233, 62);
    margin-left: 30px;
}

.conterudo-pricipal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 450;
    font-size: 24px;
    color: #ffdfdf;
    margin-left: 20px;
}

/*.conteudo-principal-butao {
    background-color: #2f2325;
    width: 180px;
    height: 60px;
    border-radius: 20px;
    border: none;
    box-shadow: 4px, 5px, 4px rgba(0, 0, 0.25);
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color:  #ffdfdf;
    cursor: pointer;


}

.conteudo-principal-butao:hover {
    background-color: #443a38
}*/

.conteudo-principal-imagem {

    max-height: 300px;
    max-width: 620px;
    display: flex;
    align-self: self-end;

}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: #4d4143 solid 0.4px;
    padding-top: 10px;
    font-family: 'Righteous', cursive;
    font-weight: 300;
    font-size: 24px;
    color: #ffdfdf;
    margin-bottom: 16px;
}

.conteudo-secundario-subtitulo {
    font-family: 'Sarala', sans-serif;
    color: #e4dcdc;
    font-weight: 400;
    padding: 10px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ffdfdf;
    text-align: center;
}

.orcamento {
    height: 40px;
    width: 40px;

}

.orcamento:hover {
    background-color: #443a38
}



footer {

    margin-top: 20px;
    color: #e4dcdc;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}